.palette-window:not(.solid-csd):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-bottom):not(.tiled-left):not(.tiled-right):not(.maximized) {
	background: alpha(@window_bg_color, 0.96);
}

.palette {
	margin: 0 12px 12px 12px;
}

.palette button {
	box-shadow: none;
	padding: 0;
	margin: 0;
	border: none;
	border-top: 1px solid @borders;
	border-bottom: 1px solid @borders;
	border-radius: 0;
	min-height: 36px;
	min-width: 36px;
}

.palette button:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left: 1px solid @borders;
}

.palette button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: 1px solid @borders;
}

.palette button image {
	color: #fff;
}

/* Background is light, use a dark icon */
.palette button.light image {
	color: alpha(black, 0.8);
}

headerbar.flat label {
	font-feature-settings: "tnum";
}
